$icomoon-font-path: "fonts" !default;

$icon-log-out: "\e900";
$icon-cancel: "\e901";
$icon-close: "\e901";
$icon-cog: "\e902";
$icon-bell: "\e903";
$icon-envelope-o: "\e904";
$icon-google-plus: "\ea8b";
$icon-facebook: "\ea90";
$icon-twitter: "\ea96";

