#howToHelp {
  padding: 40px;

  .help-method {

    display: inline-block;
    width: 200px;
    margin: 20px;
    height: 200px;
    font-size: 1.1em;
    font-weight: bold;

    .water & {
      @include water();
    }
    .gas & {
      @include gas();
    }
    .electricity & {
      @include electricity();
    }
    .homelessness & {
      @include homelessness();
    }

  }

}