#section_header {
  nav {
    position: absolute;
    top: 20px;
    right: 30px;
    .btn {
      background-color: transparent;
      width: auto;
      font-size: 16px;
      border: 2px solid white;
      border-radius: 4px;
      color: white;
      font-weight: bold;
      &:hover {
        background-color: white;
        color: $colour-primary;
      }
    }
  }
  .banner_title {
    margin-bottom: 10px;
    display: block;
  }
  .banner_subtitle {
    margin-bottom: 120px;
    font-size: 0.7em;
    color: #c3c3c3;
  }

  .banner-btn {
    border-radius: 4px;
    display: block;
    margin: 20px auto auto auto;
    color: white;
    font-size: 0.6em;
    max-width: 340px;
    padding: 40px 30px;
    background-color: rgba(255,255,255,0.3);
    &:hover {
      background-color: rgba(255,255,255,0.5);
      text-decoration: none;
    }
  }
}