#map_section {

  position: relative;

  .map_bounds {

    width: 100%;
    height: 100%;
    display: block;

  }

  .map_filters {

    height: 5%;
    display: block;
    background-color: black;

    ul {

      margin: 0;
      padding: 0;
      list-style-type: none;
      display: table;
      width: 100%;
      height: 100%;
      table-layout: fixed; /* the magic dust that ensures equal width */

      li {
        display: table-cell;
        margin: 0;
        padding: 0;
        .btn-filter {
          height: 100%;
          border-radius: 0;
          width: 100%;
          display: block;

          padding: 0;
          border: 0;
          &:hover{
            opacity: 0.9;
          }
          label {
            width: 100%;
            height: 100%;
            border-radius: 0;
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  #map {
    height: 95%;

  }

  .map_help_out {
    position: absolute;
    bottom: 0;
    line-height: 60px;
    height: 60px;
    text-align: center;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    display: block;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#34e46a+0,75b9e6+100 */
    background: rgb(52,228,106); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(52,228,106,1) 0%, rgba(117,185,230,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(52,228,106,1) 0%,rgba(117,185,230,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(52,228,106,1) 0%,rgba(117,185,230,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34e46a', endColorstr='#75b9e6',GradientType=1 ); /* IE6-9 */

  }

  #problems {

    position: absolute;
    width: 300px;
    height: 100%;
    display: block;
    top: 5%;
    left: 0;
    background-color: white;
    opacity: 0.3;

    &.hidden {
      transform: translateX(-300px);
    }


    &:hover {
      opacity: 0.8;
      cursor: hand;
    }

  }

}