#map_section {

  position: relative;

  .map_bounds {

    width: 100%;
    height: 100%;
    display: block;

  }

  .map_filters {

    height: 5%;
    display: block;
    background-color: black;

    ul {

      margin: 0;
      padding: 0;
      list-style-type: none;
      display: table;
      width: 100%;
      height: 100%;
      table-layout: fixed; /* the magic dust that ensures equal width */

      li {
        display: table-cell;
        margin: 0;
        padding: 0;
        .btn-filter {
          height: 100%;
          border-radius: 0;
          width: 100%;
          display: block;

          padding: 0;
          border: 0;
          &:hover{
            opacity: 0.9;
          }
          label {
            width: 100%;
            height: 100%;
            border-radius: 0;
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  #map {
    height: 95%;
  }


  #problems {

    position: absolute;
    width: 300px;
    height: 100%;
    display: block;
    top: 5%;
    left: 0;
    background-color: white;
    opacity: 0.3;

    &.hidden {
      transform: translateX(-300px);
    }


    &:hover {
      opacity: 0.8;
      cursor: hand;
    }

  }

}